nav{
	height:50px;
}
#banner{
	height: 700px;
}
nav ul{
	list-style:none;
	margin:0;
	float: right;
	padding: 0;
}
nav ul li,nav .logo{
	display: inline-block;
	line-height: 50px;
}
nav ul li a{
	line-height: inherit;
	text-decoration:none;
	display: inline-block;
	height: inherit;
	color:#fff;
	padding: 0 15px;
}
nav ul li.active{
	border-bottom: 4px solid #ddd;
}
#banner .inner{
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 160px;
	color:#fff;
}
#banner .inner h1{
	margin:0;
}

button{
	border:none;
	background: #d9534f;
	color:#fff;		
}
#banner .inner button{
	padding: 14px 40px; 
}

#banner .inner .more{
	margin-top: 120px;
}
.sub-heading{
	margin:30px 0;
	font-size: 18px;
}
#banner .inner .sub-heading{
	line-height: 30px;
}
.logo{
	font-size:20px;
	font-weight: 700;	
	letter-spacing: 1px;
	padding: 0 10px;
}
.logo a{
	color:#fff;
	text-decoration:none;
	display: inline-block;
	height: inherit;
}

h1{
	padding:12px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
}

p{
	font-size:18px;
	letter-spacing: 1px;
}
.hr{
	width: 100%;
	height:2px;
	margin:20px auto;
}

.green-section{
	color:#fff;
	background: #089DB0;
	text-align: center;
	padding: 100px 0;
}
.wrapper{
	max-width: 1080px;
	margin:0 auto;
}
.green-section .wrapper .hr{
	background: #078494;
	width: 60%;
}
.green-section .icon-group{
	margin-top:60px;
}
.green-section .icon-group .icon{
	background: #0D6F7C;
	height: 80px;
	width: 80px;
	display: inline-block;
	transform: rotate(45deg);
	margin:20px;
}

.gray-section{
	background-color: #252F34;
	color: #fff;
}
.gray-section .img-section{
	width:45%;
}
.gray-section .img-section img{
	width:100%;
}
.gray-section .text-section{
	width:55%;
	position: relative;
	top: 68px;
	left: 50px;
}
.gray-section .text-section > *{
	max-width: 90%;
}
.gray-section .text-section .sub-heading{
	margin-top:0;
	font-size: 22px;
}

.article-preview > div{
	float: left;
	font-size: 0;
}
.article-preview:nth-child(odd){
	background-color: rgba(255,255,255,0.1);
}
.clearfix:after{
	content:'';
	display: block;
	clear: both;
}

.purple-section{
	padding:80px;
	background: #3f3965;
	color:#fff;
}
.purple-section .heading-wrapper{
	text-align: center;
}
.purple-section .hr{
	background: #373259;
	width: 60%;
}
.card{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 20px;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	box-sizing: border-box;
}
.card:nth-child(1){
	background-color: rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background-color: rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background-color: rgba(0,0,0,0.12);
}
.card:nth-child(4){
	background-color: rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background-color: rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background-color: rgba(0,0,0,0.24);
}
header{
	background:rgba(0,0,0,0.4);
}
footer{
	background: #333;
	color:#fff;
	min-height: 200px;
	text-align: center;
}
ul.share-group{
	width:1080px;
	margin:0 auto;
	padding: 50px;
}
.share-group li{
	display: inline-block;
	list-style: none;
	padding:10px;
}
.copy{
	padding-bottom: 20px;
}
.main-wrapper{
	background:#444 url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}


.mask{
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
}

#sidebar{
	display: none;
	width:300px;
	background: #333;
	position: fixed;
	top: 0;
	right:0;
	bottom:0;
	padding: 20px 0;
}
#sidebar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#sidebar ul a{
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	display: inline-block;
	width: 100%;
}
#sidebar ul a:hover{
	background:#444;
}
